# Cache, log et fichiers temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
*.log

# Données temporaires FastAPI/Uvicorn
instance/
.cache/
*.db

# VSCode/IDE
.vscode/
.idea/
*.iml

# Dossiers système
.DS_Store
Thumbs.db
